.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

canvas {
  display: block;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
}

.title-screen {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.title-screen__title {
  top: 20%;
  color: green;
  font-size: 80px;
}

.title-screen__subtitle {
  top: 35%;
  font-size: 20px;
  color: #FFF;
}

.pressEnter {
  top: 45%;
  font-size: 26px;
  color: #FFF;
}
.score {
  top: 50%;
  font-size: 40px;
  color: #FFF;
}